#ignores all files whith VS and UE generate
.vs/
XYZ_Course/Binaries/
XYZ_Course/DerivedDataCache/
XYZ_Course/Intermediate/
XYZ_Course/Saved/
.vsconfig
*.sln
#don't ignore some folders
!Diagrams/
!Docs/
!Raw/